In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import re
import requests

In [19]:
from requests.packages.urllib3.exceptions import InsecureRequestWarning

requests.packages.urllib3.disable_warnings(InsecureRequestWarning)

In [2]:
url = 'http://botrank.pastimes.eu/?sort=rank&page='

In [4]:
bot_db = pd.DataFrame()

In [8]:
def web_crawler(url):
    req = requests.get(url, verify = False)
    soup = BeautifulSoup(req.content, 'html.parser')
    table = soup.find_all('table')
    df = pd.read_html(str(table), index_col = "Rank")[0]
    return df

In [22]:
for i in range(10):
    page_url = url + str(i+1)
    df = web_crawler(page_url)
    bot_db = pd.concat([bot_db, df])

In [25]:
bot_db.head()

,Bot Name,Score,Good Bot Votes,Bad Bot Votes,Comment Karma,Link Karma
Rank,,,,,,
1,KickOpenTheDoorBot,0.9932,21014,120,39387,98880
2,Canna_Tips,0.9921,18181,121,49964,1
3,MrTechnodad,0.9914,2136,10,420008,73713
4,BigJets,0.9905,2189,12,48004,39701
5,properu,0.9899,2313,14,169365,7

In [26]:
df = pd.DataFrame(bot_db)
df.to_csv('bot_list.csv')